*.pyc
*.pyo
__pycache__/
.*.swp
.idea/
.DS_Store
env/
venv/
src/WTForms_Django.egg-info/
.eggs/
wtforms/locale/**/wtforms.mo
build/
dist/
docs/_build
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
.eggs/
